.imageHolder {
  display: flex;
  justify-content: flex-end;
}

.object {
  object-fit: cover;
  object-position: center;
}

.relative {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
